@import "tailwindcss";

@theme inline {
  --color-app: #0a0a0b;
  --color-surface: #111113;
  --color-border: rgba(255, 255, 255, 0.08);
  --color-muted: rgba(255, 255, 255, 0.4);
  --color-creator: #c8f135;
  --color-brand: #6c63ff;

  --font-title: var(--font-syne), sans-serif;
  --font-body: var(--font-dm-sans), sans-serif;
}

body {
  background-color: #0a0a0b;
  color: #ffffff;
}
